*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(../images/aboutusbg.jpg);
	background-size: cover;
	background-position: center;
}

h1
{
	color: darkorange;
	text-align: center;
	font-family: "Tahoma, sans seriff";
}

.AboutUsContainer
{
	border: thin solid;
	border-color: darkorange;
	border-radius: 5px;
	margin-top: 5%;
	margin-left: 15%;
	height: 20%;
	width: 70%;
}

.aboutusContainer
{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(../images/aboutusbg2.jpg);
	width: 100%;
	height: 100%;
	border: thin solid;
	border-color: darkorange;
	border-radius: 5px;
	color: white;
	width: 70%;
	height: 40%;
	margin-top: 5%;
	margin-left: 15%;
}