*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.header
{
    background: rgba(0,0,0,0.6);
    width: 70%;
    padding: 2px;
}

/* Navigation bar css */

.navbar
{
    padding: 20px 10px 20px 10px;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.logo
{
    transition: 0.6s;
}


.logo:hover
{
    width: 55px;
    height: 60px;
    transition: 0.6s;
}

.dropdown-menu
{
    background-color: rgba(0,0,0,0.5);
}

.dropdown-item
{
    border-bottom: solid thin;
    color: #fff;
}

a
{
    color: #fff;
    margin-left: 5px;
}

li a:hover
{
    background: lightgray;
    color: #000;
    transition: 0.6s;
}

.fa-bars
{
    color: #fff;
}

/* Navigation Bar css ends here */

.maincontainer
{
    height: 100%;
    width: 100%;
    
    
}

section
{
    scroll-snap-align: center;
}

#home
{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url("../images/kitchen.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75vh;
    padding-top: 5%;
}

#about
{
    height: 100%;
    margin-bottom: 5px;
    padding-top: 10%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}

.about-title
{
    margin: 30px 0 20px 4%;
}

#menu
{
    background: url("../images/menu_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 5% 50px 50px 50px;
    color: #fff;
}

.menuHeading
{
    color: #000;
}


.item-column::-webkit-scrollbar
{
    display: none;
}

.menu_images
{
    width: 100px;
    height: 200px;
}

#pizza-recipe
{
    border-bottom: 3px solid;
    border-color: green;
}

.btnBuy
{
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    border: none;
    transition: 0.5s;
    font-weight: lighter;
    border: solid 2px;
    border-color: green;
}

.btnBuy:hover
{
    color: #fff;
    background: green;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
}

.item-column
{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    background: rgba(0,0,0,0.5);
    height: 300px;
}

/* Carosel css starts here */
.carouselHead
{
    background: rgba(0,0,0,0.5);
}

.subtitle
{
    background: rgba(0,0,0,0.5);
}

.carousel-control-prev
{
    background: rgba(0,0,0,0.5);
}

.carousel-control-next
{
    background: rgba(0,0,0,0.5);
}
/* Carosel css ends here */

.jumbotron-fluid
{
    background: rgba(0,0,0,0.8);
    color: #fff;
    width: 50%;
    height: 50%;
    border: thick solid;
}

/* Scroll indicator or Progrss bar css */


.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
/* Scroll indicator or Progrss bar css ends here*/


/* Recipe Section css starts here */

#recipe
{
    padding-top: 8%;
}

.pizza-recipe-images
{
    width: 100%;
    height: 150px;
    margin-top: 5%;
    margin-bottom: 10px;
}


.recipe-title
{
    margin: 30px 0 20px 4%;
    color: #000;
}

.ingredients
{
    margin-left: 30px;
}

#drinks
{
    padding-top: 10%;
}

.scroller
{
    overflow-y: scroll;
    height: 300px;
    margin-bottom: 40px;
}

/* Recipe Section css ends here */

/* --------- Galleria CSS starts here ------------ */

#galleria
{
    padding-top: 10%;
    height: 100vh;
}

.galleria
{
    height: 350px;
    width: 80%;
    padding-top: 0;
    align-content: center;
}

/* Galleria CSS ends here */



/* Services css starts here */
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("../images/service.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 200px;
    color: #fff;
}

#services img
{
    width: 105%;
    height: 200px;
    border: 5px solid;
    border-radius: 2px;
    border-color: #ffff;  
    margin-bottom: 20px;
}


.service_image:hover
{
    transition: 1s;
    filter: grayscale(100%);
    transform: scale(1.1);
}


.services_header
{
    margin-bottom: 0px;
}



/* Sercices css ends here */
.contact_header
{
    color: #fff;
    margin-top: 0;
}

#contact
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("../images/about_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    padding-top: 10%;
}

.btnSend
{
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    border: none;
    transition: 0.5s;
    font-weight: lighter;
    border: solid 2px;
    width: 50px;
    border-color: green;
}

.btnSend:hover
{
    color: #fff;
    background: green;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
}

/* Contact Section CSS starts here */
input[type=text], select, textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  height: 30px;
  margin-bottom: 5px;
  resize: vertical;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));
  color: #fff;
}

textarea
{
    height: 150px;
    color: #fff;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contactForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 5px;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));
  border: 2px solid;
  border-color: #fff;
  height: auto;
  width: 100%;
}

option
{
    background: rgba(0,0,0,0.6);
    color: #fff;
}

iframe
{
    height: 380px;
    width: 100%;
    border: 2px solid;
    border-color: #fff;
    margin-top: 5px;
    border: 2px solid;
    border-color: #fff;
}
/* Contact Section CSS ends here */

/* Footer css starts here */

footer
{
    background-color:#101010;
    color:#9d9d9d;
    font-size:14px;
    font-weight:bold;
    padding:10px; 
    width: 100%;
    height: 70px;  
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
}

.engineer
{
    color: blue;
    font-style: Tahoma;
    font-size: 15px;
}

.engineer:hover
{
    background-color: #fff;
    transition: .5s;
    border-radius: 5px;
}

/* Footer css ends here */

/* Scroll down button css starts here */
.scrollDown
{
    width: 30px;
    height: 50px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8));
    border: 1px solid;
    border-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    color: #fff;
    transition: 0.5s;
}

.scrollDown:hover
{
    color: #000;
    background: #fff;
    border: 3px solid;
    box-shadow: green 1px 1px 1px 1px;
    border-color: #000;
    transform: scale(1.5);
    transition: 1s;
}

.scrollTxt
{
    color: #fff;
}
/* Scroll down button css ends here */


/* Social Sticky Nav css ends here */

/* Scroll to top button css starts here */
#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.4);
  color: white;
  cursor: pointer;
  padding: 15px;
  border: solid thin;
  border-color: #fff;
  border-radius: 5px;
}

#myBtn:hover {
  background-color: #555;
}
/* Scroll to top button css ends here  */


/* media queries */

/* ----------- Tablet Mode starts here ------------- */
/* home section starts here */

@media (max-width: 768px)
{
    #home
    {
        padding-top: 70px;
        height: 70vh;
    }

    .display-4
    {
        font-size: 30px;
    }

    .lead
    {
        font-size: 16px;
    }

    .banner
    {   
        padding-top: 35px;
        height: 150px;
    }

    .scrollDown
    {
        margin-top: 10px;
    }


}
/* home section ends here */


/* menu section starts here */

@media (min-width: 768px)
{
    #menu
    {
        padding-top: 110px;
    }

    .menu_images
    {
        height: 100px;
        width: 100%;
    }

    .food_title
    {
        font-size: 14px;
    }

    .food_price
    {
        font-size: 11px;
    }

    #drinks
    {
        padding-top: 18%;
    }

    .item-column
    {
        margin-top: 10px;
        margin-bottom: 50px;
        height: auto;
    }

    .menuHeading
    {
        font-size: 30px;
    }

    .header
    {
        font-size: 20px;
    }

    .food_title
    {
        font-size: 11px;
    }

    
}
/* menu section ends here */

/* recipe section starts here */
@media (min-width: 768px)
{
    #recipe
    {
        padding-top: 70px;
    }
}
/* recipe seciton ends here */

/* galleria section starts here */
@media (min-width:  768px)
{
    #galleria
    {
        padding-top: 14%;
    }

    .galleria
    {
        height: 280px;
        width: 80%;
    }
}
/* galleria section ends here */

/* services seection starts here */
@media (min-width: 768px)
{
    #services
    {
        padding: 15%;
    }

}
/* services section ends here */

/* contact section starts here */
@media (min-width: 768px)
{
    .contact_header
    {
        margin-bottom: 20px;
    }

    #contact
    {
        padding-top: 15%;
        height: 100vh;
        padding-bottom: 100px;
    }

    textarea
    {
        height: 60px;
        color: #fff;
        
    }

    .contactForm
    {
        height: auto;
        padding-bottom: 10px;
    }

    .scrollDownBtn
    {
        display: none;
    }

    iframe
    {
        height: 280px;
    }
   
}
/* contact section ends here */

/* ----------- Tablet Mode ends here --------------- */


/* ********************** Mobile Mode ************************* */
/* home section starts here section */

@media (max-width: 425px)
{
    #home
    {
        height: 68vh;
    }

    .banner
    {
        height: 150px;
        width: 85%;
    }

    .display-4
    {
        font-size: 20px;
    }

    .lead
    {
        font-size: 16px;
    }
}

/* home section ends here */

/* about section stars here */
@media (max-width: 425px)
{
    #about
    {
        font-size: 15px;
        padding-top: 18%;
    }
}
/* about section ends here */

/* menu section starts here */
@media (max-width: 425px)
{
    #menu
    {
        padding-top: 25%;
    }

    .item-column
    {
        height: auto;
        margin-top: 0;
        margin-bottom: 30px;
        width: 250px;
        margin-left: 10%;
    }

    .menu_images
    {
        width: 150px;
        height: 100px;
    }

    .food_title, .food_price
    {
        font-size: 11px;
    }

    .menuHeading
    {
        font-size: 22px;
    }

    .header
    {
        font-size: 18px;
    }

    #drinks
    {
        padding-top: 45%;
    }

    /* menu section ends here */

    /* recipe section starts here */
    #recipe
    {
        padding-top: 20%;
    }
    /* recipe section ends here */


    /* galleria section starts here */
    #galleria
    {
        padding-top: 26%;
        height: 85vh;
    }

    .galleria
    {
        width: 95%;
        height: 200px;
    }
    /* galleria section ends here */

    /* services section starts here */
    #services
    {
        padding-top: 30%;
        height: 200vh;
    }

    #services img
    {
        width: 300px;
    }

    .text
    {
        margin-bottom: 50px;
    }
    
    /* services section ends here */
}




@media (max-width: 425px)
{

    #contact
    {
        padding-top: 32%;
        height: 180vh;
    }

    .contact_header
    {
        font-size: 30px;
    }

    textarea
    {
        height: 50px;
    }

/* footer section starts here */
    .footer
    {
        height: 90px;
    }

    .footerContainer
    {
        padding-bottom: 20px;
    }
/* footer section ends here */



    /* scroll down button starts here */
    .scrollDownBtn
    {
        width: 40px;
        height: 40px;
        margin-top: 0;
        float: right;
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8));
        border: 1px solid;
        border-color: #fff;
        border-radius: 10px;
        color: #fff;
        transition: 0.5s;
    }

    .veiwMap
    {
        font-size: 12px;
    }

    /* sccroll down button ends here */
}


/* medium device Mobile */

/* medium devices Mobile */


/* small devices Mobile */
@media (max-width: 320px)
{
    #about
    {
        padding-top: 25%;
    }

    #menu
    {
        padding-top: 35%;
    }

    #drinks
    {
        padding-top: 60%;
    }

    #recipe
    {
        padding-top: 20%;
    }

    #galleria
    {
        padding-top: 35%;
    }

    #services
    {
        padding-top: 40%;
        height: 180vh;
    }

    #services img
    {
        width: 200px;
        height: 150px;
    }

    iframe
    {
        height: 250px;
    }

    .column1
    {
        margin-bottom: 35%;
    }

    textarea
    {
        height: 80px;
    }


    
}
/* small devices Mobile */



/* ********************** Mobile Mode ************************* */

/* media queries */
